
body{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    background-image: url(../public/internet_background.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* background-position:0 1rem 0 -4; */
}

p, ul, li, h1, h2{
    color: #312f2f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}