.Main{
  background-color: white;
  /* display: grid; */
}

.NavBar{
  height: 3rem;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.NavBar ul {
  display: flex;
  margin: auto;
  gap: 3rem;
  font-weight: bold;
  width: 300px;
}

.NavBar li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.HeroSection{
  width: 90%;
  height: 50%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.HeroSection h1 {
  margin-top: 0;
}

.HeroSection h2{
  text-align: left;
}

.BorderBoxContact, .BorderBoxExperience, .BorderBoxPortofolio{
  width: 90%;
  border: solid black 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.BorderBoxMe{
  border: groove darkgray 22px;
  margin: 0 5%;
  margin-bottom: 1rem;
}

.BorderBoxSkills {
  border: rgb(46, 43, 43) 22px outset;
  margin: 0 5%;
  margin-bottom: 1rem;
}

.Contact{
  width: 208px;
  margin: 0 auto;
}

.Contact ul {
  padding-left: 2rem;
  margin-bottom: 24px;
}

.AboutMe {
  /* width: 208px; */
  margin: 0 10%;
}

.Skills div {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.Skills div ul {
  /* width: 100px; */
  margin: 0 5%;
}

.Skills div li {
  margin-top: .3rem;
  padding: 0;
}

.Experience {
  width: 208px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.Experience li {
  margin-top: .7rem;
}

.Portofolio {
  width: 208px;
  margin: 0 auto;
}

.ProjectsBtn{
  display: block;
  margin: 1rem auto;
  border: white 2px solid;
  border-radius: 2rem;
  background-color: black;
  color: white;
  padding: 1rem;
}

.BottomDivider {
  height: 2rem;
}

.Footer {
  background-color: aqua;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .Main{
      /* display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; */
      display: grid;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, .5fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }

  .HeroSection {
    /* grid-area: 1 / 1 / 2 / 6; */
    /* grid-area: 1 / 2 / 2 / 5; */
    grid-area: 1 / 1 / 2 / 7;
  }

  .HeroSection h1 {
    font-size: 2.5rem;
  }

  .HeroSection h2 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
  }

  .BorderBoxContact{
    margin: 0 6.25%;
    width: 50%;
    height: 90%;
    grid-area: 2 / 1 / 3 / 5;
  }

  .BorderBoxMe{
    grid-area: 3 / 1 / 4 / 7;
  }

  .BorderBoxSkills{
    grid-area: 4 / 1 / 5 / 7;
  }

  .BorderBoxPortofolio{
    width: 85%;
    height: 90%;
    /* margin-right: 10%; */
    margin-right: 12.5%;
    grid-area: 2 / 4 / 3 / 7;
  }
  
  .BorderBoxExperience{
    grid-area: 5 / 1 / 6 / 7;
  }
}